.wrapper {
    max-width: 1440px;
    margin: 0 auto;
}

.header {
    margin: 91px 37px 92px 40px;
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}

.header__menu {
    margin-right: 54px;
}

.header__links-list {
    list-style-type: circle;
    display: flex;
}

.header__links-list-item {
    margin-left: 32px;
}

.header__links-list-item_no-bullit {
    list-style-type: none;
    margin-left: 11px;
}

.header__link_active {
    text-decoration: none;
}


.header__logo {
    justify-self: center;
}

.header__logo-image {
    width: 148px;
    height: 105px;
}

.header__address {
    justify-self: end;
    line-height: 24px;
    max-width: 245px;
}

.address {
    font-style: normal;
    line-height: 24px;
    margin-right: 7px;
}


.cover {
    display: flex;
    flex-direction: column;
    min-height: 757px;
    position: relative;
    background-size: cover;
    background-image: url("../images/cover.jpg");
    background-position: center;
}

.cover__title {
    display: block;
    position: relative;
    z-index: 1;
    width: 100%;
}

.aligned-text {
    display: block;
    color: #FFF;
    font-size: 100px;
    font-style: normal;
    font-weight: 700;
    line-height: 115%; /* 115px */
    letter-spacing: 30px;
    text-transform: uppercase;
    margin-top: 165px;
    margin-left: 50px;
}

.aligned-text_center {
    display: block;
    margin-top: 20px;
    margin-right: 28px;
    color: #FFF;
    text-align: center;
    font-size: 100px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 100px */
    letter-spacing: 30px;
    text-transform: uppercase;
}

.aligned-text_right {
    display: block;
    margin-top: 20px;
    margin-bottom: 145px;
    margin-right: 20px;
    color: #FFF;
    text-align: right;
    font-size: 100px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 100px */
    letter-spacing: 40px;
    text-transform: uppercase;
}

.cover__description {
    z-index: 1;
    color: #FFF;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 10px;
    text-transform: uppercase;
    margin-top: 12px;
    text-align: right;
}

.cover__description-text {
    word-spacing: 18px;
    margin-right: 41px;
}

.bet-button {
    text-decoration: none;
    min-width: 268px;
    border: 1px solid #FFF;
    padding: 11px 34px;
    margin-left: 52px;
    margin-right: 6px;
    word-spacing: normal;
}

.letter-spacing-extended {
    letter-spacing: 60px;
}

.no-letter-spacing {
    letter-spacing: 30px;
}


.lots {
    margin-top: 181px;
    margin-left: 49px;
    margin-right: 50px;
}

.lots__heading {
    margin-left: 40px;
    font-size: 40px;
    font-weight: 700;
    font-style: normal;
    line-height: normal;
    text-transform: uppercase;
}

.lots__look-more-link {
    margin-left: 40px;
    font-size: 20px;
    font-style: normal;
    line-height: normal;
    text-decoration: underline;
}

.lots__card-list {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    margin: 27px 0 30px;
    flex-wrap: wrap;
}

.lots__card-list-item {
    width: 430px;
    min-height: 447px;
    position: relative;
}

.overlay {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.60);
    position: absolute;
    z-index: 0;
}

.card {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    height: 100%;
}

.card__title {
    margin-top: 50px;
    margin-left: 40px;
    margin-right: 40px;
    z-index: 1;
    color: #FFF;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 26.4px */
    text-decoration-line: underline;
    text-transform: uppercase;
}

.card__text {
    margin-bottom: 50px;
    margin-left: 40px;
    margin-right: 40px;
    z-index: 1;
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 24px */

}

.card_type-size {
    background-size: cover;
}

.card_type_film {

    background-image: url("../images/card-lot-01.jpg");
}

.card_type_book {

    background-image: url("../images/card-lot-02.jpg");
}

.card_type_picture {

    background-image: url("../images/card-lot-03.jpg");
}


.about {
    margin-top: 180px;
    margin-left: 61px;
    margin-right: 60px;
    display: flex;
    justify-content: space-between;
}

.about__column {
    margin-left: 15px;
}

.about__logo {
    background-color: black;
    width: 240px;
    height: 240px;
    border-radius: 50%;
    margin: 5px 74px;

    display: grid;
    align-items: center;
    justify-content: center;
}

.about__logo-image {
    width: 148px;
    height: 114px;
}

.about__title {
    margin-left: 25px;
    margin-top: 105px;
    margin-bottom: 101px;
    color: #000;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.about__text {
    margin-left: 25px;
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 23px;
}


.footer {
    margin-bottom: 70px;
    margin-top: 181px;
    display: grid;
    margin-left: 51px;
    margin-right: 42px;
    grid-template-columns: 3fr 9fr 0fr;
    font-size: 18px;
}

.footer__address {
    justify-self: start;
    line-height: 24px;
    max-width: 339px;
    
}


.footer__menu {
    width: 161px;
    min-height: 60px;
    text-align: center;
    justify-self: center;
}

.footer__menu-link {
    text-decoration: underline;
}

.footer__social-list {
    width: 245px;
    display: flex;
    justify-content: space-between;
    justify-self: end;
    margin-left: 32px;
}

.footer__menu-link_active {
    text-decoration: none;
}

.footer__social-icon {
    height: 48px;
    display: flex;
    justify-content: space-around;
}

.footer__social-link {
    margin: 0px;
    margin-left: 0px;
    margin-right: 5px;
}
 